     @font-face {
            font-family: 'TimesNewRoman';
            src: url('assets/times.ttf') format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        body {
            font-family: 'TimesNewRoman', monospace; 
            background-color: #ffffff; 
            color: #000000; 
        }


